{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Register for an account</h3>
    <div class="form-group">
        <label for="email">Email Address: </label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email" />
        <br>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" />
        <br>
        <label for="password1">Password: </label>
        <input type="text" id="password1" name="password1" class="form-control" placeholder="Enter Password" />
        <br>
        <label for="password2">Password (Verify): </label>
        <input type="text" id="password2" name="password2" class="form-control" placeholder="Enter Password Again" />
        <br>
        <button class="btn btn-dark" type="submit">Sign Up</button>
</form>

{% endblock %}